<div class="container">
  <div class="col-md-4"></div>
  <div class="col-md-4" >
    <img src="assets/image/online-leave-managment.jpg" height="180px" width="100%">
  </div>
  <div class="col-md-4"></div>
</div>
<br>
<div class="container">
  <h5><b>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam aut consectetur deserunt dolore earum error
    eum facilis fuga minima numquam perferendis praesentium quasi, repudiandae saepe sed veritatis. Commodi, illum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque dignissimos, dolore ea eius eligendi fugit
    impedit labore, laboriosam maxime modi non quisquam ratione sunt temporibus vero voluptates. Asperiores, eaque!
  </b></h5>
</div>
